@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/cadastro.css" />
    <link rel="stylesheet" href="~/css/Menu.css" />
    <link rel="stylesheet" href="~/css/Privacy.css" />
    <title>Contato</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/Produto/Index">Controle de Estoque</a>
            <div class="mobile-menu">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/Home/Privacy">Sobre</a></li>
                <li><a href="/Home/Contato">Contato</a></li>
                <li><a href="/Produto/Index">Produtos</a></li>
                <li><a href="/Usuario/Logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-container">
        <br />
        <br />
        <br />
        <h2>Contato</h2>
        <br />
        <br />
        <h3>
            <address>
                Brasil<br />
                Paraná<br />
                Curitiba<br />
            </address>
            <br />
            <address>
                <strong>Email:</strong><a href="mailto:guilhermeagenor1012@gmail.com">guilhermeagenor1012@gmail.com</a><br />
                <br />
                <strong>GitHub:</strong><a href="https://github.com/GuilhermeOliveiraAgenor">https://github.com/GuilhermeOliveiraAgenor</a><br />
            </address>
        </h3>
    </div>
</body>
</html>