@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Produtos</title>
    </head>
    <body>
        <form method="post">
                <label>Nome</label>
                <input type="text" id="txtNome" name="txtNome"/>
                <br />
                <label>Preço</label>
                <input type="text" id="txtPreco" name="txtPreco"/>
                <br />
                <label>Quantidade</label>
                <input type="text" id="txtQuantidade" name="txtQuantidade"/>
                <br />
                <label>Observacoes</label>
                <input type="text" id="txtObservacoes" name="txtObservacoes"/>
                <br />
                <button type="submit" formaction = "Inserir" id="btnSalvar" name="btnSalvar">Salvar</button>
        </form>
    </body>

</html>