    @{
    Layout = null;
    var message = TempData["Message"]?.ToString();//variavel de mensagem
}

<!DOCTYPE html>
<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/cadastro.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
    <title>Cadastro de Produtos</title>
    </head>
    <body>
    <header>
        <nav>
            <a class="logo" href="/Produto/Index">Controle de Estoque</a>
            <div class="mobile-menu">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/Home/Privacy">Sobre</a></li>
                <li><a href="/Produto/Index">Produtos</a></li>
                <li><a href="/Usuario/Login">Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="form-image">
            <img src="~/Resources/manutencao.jpg" />
        </div>
        <div class="form">
            <form method="post">
                <div class="form-header">
                    <div class="titulo">
                        <h1>Cadastrar</h1>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(message))
                {
                <b>@message</b>
                }
                <div class="input-group">
                    <div class="input-box">
                        <label>Nome</label>
                        <input type="text" id="txtNome" name="txtNome" maxlength="50" title="Digite o nome" required autofocus/>
                    </div>
                    <div class="input-box">
                        <label>Preço</label>
                        <input type="text" id="txtPreco" name="txtPreco" maxlength="8" title="Digite o preço com ponto, exemplo 5.0" required/>
                    </div>
                    <div class="input-box">
                        <label>Quantidade</label>
                        <input type="text" id="txtQuantidade" name="txtQuantidade" maxlength="7" title="Digite a quantidade" required/>
                    </div>
                    <div class="input-box">
                        <label>Observacoes</label>
                        <input type="text" id="txtObservacoes" name="txtObservacoes" maxlength="100"  title="Digite as observacoes" required/>
                    </div>
                    <div class="botao">
                        <button type="submit" formaction="Inserir" id="btnInserir" name="btnInserir">Cadastrar</button>
                    </div>
                </div>
            </form>
            <div class="continue-button">
                <a type="submit" asp-controller="Produto" asp-action="Index">Lista</a>
            </div>
        </div>
    </div>
    </body>
</html>