    @{
    Layout = null;
    var message = TempData["Message"]?.ToString();//variavel de mensagem
}

<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Produtos</title>
    </head>
    <body>
        @if(!string.IsNullOrEmpty(message)){
            <br />
            <b>@message</b>
            <br />
            <br />
        }
        <form method="post">
                <label>Nome</label>
                <input type="text" id="txtNome" name="txtNome"/>
                <br />
                <label>Preço</label>
                <input type="text" id="txtPreco" name="txtPreco"/>
                <br />
                <label>Quantidade</label>
                <input type="text" id="txtQuantidade" name="txtQuantidade"/>
                <br />
                <label>Observacoes</label>
                <input type="text" id="txtObservacoes" name="txtObservacoes"/>
                <br />
                <button type="submit" formaction = "Inserir" id="btnSalvar" name="btnSalvar">Salvar</button>
        </form>
        <a asp-controller="Produto" asp-action="Index">Lista</a>
    </body>

</html>