<!DOCTYPE html>
 <!--Estrutura Básica Html-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> <!--Lá no Eclipse o meta está como "Iso-8859-2"-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="shortcut icon" href="fatia-de-pizza.png"> <!--Icone da página-->
    <link rel="Stylesheet" href="cadastrarlistar.css"> <!--Declaração do meu CSS-->
    <title>Cadastrar Produto</title>
</head>
<body>
    <script type="text/javascript">
        // Regras de negocio
            function verificarproduto() {
               var estoque = formulario.Estoque.value;
               var preco = formulario.Preco.value
               if(preco <= 0.0) {
                   alert('Eita. Ocorreu um probleminha aqui. Se acalme que vamos resolver isso. Esta acontecendo o seguinte - O preco não pode ser 0. Verifique os campos e tente novamente')
                   formulario.Preco.focus();
                   return false;
               }
               if(estoque <= 0) {
                   alert('Eita. Ocorreu um probleminha aqui. Se acalme que vamos resolver isso. Esta acontecendo o seguinte - O estoque não pode ser 0. Verifique os campos e tente novamente')
                   formulario.Estoque.focus();
                   return false;
               }
            }
    </script>
    <div>
        <a href="menu.html"><i class="material-icons"></i></a>
        Voltar Para o Menu
    </div>
    <form class="formulario" name="formulario" action="">
        <!--Aqui no meu form eu criei a class formulario-->
        <div class="p1">
            <!--Essa classe serve para estilizar o meu formulário-->
            <div class="p1-topo">
                <!--Nessa classe é aonde vais estar todos os elementos da parte de cima do formulário que estilizada no meu css-->
                <img class="icone" src="logo pizzaria xtale 3.jpeg" alt="Essa imagem é o logo da pizzaria">
                <h2 class="titulo">Cadastrar Produto</h2>
                <br>
                <span>
                    <!--Aqui é onde vai estar a mensagem de erro e de concluido-->
                </span>
                <br>
            </div>
            <div class="p2-grupo">
                <!--Aqui eu usei uma div para cada label, input e botão -->
                <label>Nome</label>
                <input type="text" name="Nome" id="Nome" placeholder="Digite o nome do produto" maxlength="40" pattern="^([a-zA-Zà-úÀ-Ú0-9]|\s)+$" title="Digite o nome com letras ou números" required autofocus>
            </div>
            <div class="p2-grupo">
                <!--Aqui eu usei uma div para cada label, input e botão -->
                <label>Preco</label>
                <input type="text" name="Preco" id="Preco" placeholder="Digite o preço do produto" maxlength="8" pattern="[0-9]+([\.][0-9]+)" title="Digite o preço com um número com um ponto, exemplo: 5.0" required autofocus>
            </div>
            <div class="p2-grupo">
                <!--Aqui eu usei uma div para cada label, input e botão -->
                <label>Categoria</label>
                <input type="text" name="Categoria" id="Categoria" placeholder="Digite a categoria do produto" pattern="[0-9]+$" title="Digite o id da categoria" required autofocus>
            </div>
            <div class="p2-grupo">
                <!--Aqui eu usei uma div para cada label, input e botão -->
                <label>Estoque</label>
                <input type="text" name="Estoque" id="Estoque" placeholder="Digite a quantidade de produto" pattern="[0-9]+$" title="Digite o numero do estoque que deve ser igual ou maior que 1 e sem ponto" required autofocus>
            </div>
            <div class="p2-grupo">
                <!--Aqui eu usei uma div para cada label, input e botão -->
                <button class="btn" type="submit" onclick="return verificarproduto()">CADASTRAR</button> <!--O submit serve para indicar que esse botão vai ter a ação de fazer o envio dos dados do formulário-->
            </div>
        </div> <!--Essa div fecha a div class p1-->
    </form>
    <h1 class="h1">Listar Categoria</h1>
    <table id="customers">
        <tr>
            <th class="th">Idcategoria</th>
            <th class="th">Nome</th>
        </tr>
        <tr>
            <td class="td">TEXTO 1</td>
            <td class="td">TEXTO 2</td>
        </tr>
    </table>
</body>
</html>