* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    background-image: url('../Resources/fundo_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%; /*tamanho da tela*/
    height: 80vh;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 5px 5px 8px 8px orange; /*borda da tela*/
    border-radius: 10px;
}

.form-image {
    width: 50%; /*tamanho do local da imagem*/
    display: flex;
    justify-content: center; /*alinha itens*/
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
}

.form-image img {
     width: 767px;
     height: 775px;
     background-size: cover;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: orange;
    margin: 0 auto;
    position: absolute;
}
#txtCodigo{
    border:none;
    font-size: 18px;
}
.input-codigo input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#lblCodigo
{
    font-size: 16px;
}
.input-codigo input{
    padding-right: 1px;
    border: none;
}
.input-group {
    display: flex;
    flex-wrap: wrap; /*coloca um text do lado do outro*/
    justify-content: space-between; /*espaço entre text*/
    padding: 5rem 0rem;
}

.input-box {
    display: flex;
    flex-direction: column; /*alinhamento de coluna*/
    margin-bottom: 5rem;
    padding: 0rem 4rem; /*espaço entre text*/
}

    .input-box input {
        margin: 1rem 0; /*margem do botao*/
        padding: 1rem 1.2rem;
        background-color: whitesmoke;
        border: none;
        border-radius: 10px;
        flex-direction: column;
    }

.input-box input:hover {
       background-color: whitesmoke;
}

.input-box input:focus-visible /*se clicar sobre o text*/ {
       outline: 1px solid orange;
}

.input-box label {
       font-size: 1rem;
       font-weight: 600;
       color: black;
}

.continue-button button {
    width: 290%;
    margin-top: 2.6rem;
    margin-left: 93px;
    font-size: 18px;
    border: none;
    background-color: orange;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover, .continue-button a:hover, .botao button:hover {
    background-color: orange;
    color: black;
    border-color: black;
    box-shadow: 3px 3px 3px 3px;
    transition: all .4s ease-out;

}

.continue-button a {
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: orange;
    padding: 0.70rem 2rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botao button {
    width: 640%;
    font-size: 18px;
    border: none;
    background-color: orange;
    padding: 0.62rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
