* { /*Margem da página 0*/
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body {
    background-image: url('../Resources/fundo_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display:flex;
    justify-content: center; /*centraliza o form*/
    width: 100%;
    margin-top: 100px; /*espaço na tela*/
}
.card{
    background-color: white;
    padding: 50px 70px;
    border-radius: 4%; /*borda do form*/
    box-shadow: 3px 3px 1px 1px;
    margin-top: 70px;
}
h1{
    text-align: center;
    margin-bottom: 70px;/*altura do título*/
    color: orange;
    font-weight: bold;
    font-size: 50px;
}

b{
    margin-left: 55px;
}

input
{
    width:100%;
    padding: 5px 5px;
    display: inline-block;
    margin-top: 15px;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    min-width: 180px;
    font-size: 18px;
}

button{
    margin-top: 30px;
    color: white;
    background-color: orange;
    border-color: orange;
    padding: 16px 22px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

.botao{
    display: flex;
    justify-content: center;
}

a {
    color: orange;
    font-weight: bold; /*defini tipo do texto*/
    text-decoration: none; /*tira a marcacao da linha*/
    font-size: 18px;
    transition: all .4s ease-out;
}

a:hover{
    color: orangered;
}

.botao button:hover {
    background-color: orange;
    color: black;
    border-color: black;
    box-shadow: 3px 3px 3px 3px;
}
.message{
    margin-left: 110px;
    margin-bottom: 10px;
}

