@{
    Layout = null;
    var message = TempData["Message"]?.ToString();
}

<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/cadastro.css" />
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="~/Resources/manutencao.jpg" />
        </div>
        <div class="form">
            <form method="post">
                <div class="form-header">
                    <div class="titulo">
                        <h1>Cadastrar</h1>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(message))
                {
                    <b>@message</b>
                }
                <div class="input-group">
                    <div class="input-box">
                        <label>Email</label>
                        <input type="email" id="txtEmail" name="txtEmail" maxlength="50" title="Digite o email" required autofocus />
                    </div>
                    <div class="input-box">
                        <label>Nome</label>
                        <input type="text" id="txtNome" name="txtNome" maxlength="100" title="Digite o nome" required />
                    </div>
                    <div class="input-box">
                        <label>Senha</label>
                        <input type="password" id="txtSenha" name="txtSenha" maxlength="50" title="Digite a senha" required />
                    </div>
                    <div class="input-box">
                        <label>Confirmar Senha</label>
                        <input type="password" id="txtConfirmarSenha" name="txtConfirmarSenha" maxlength="50" title="Digite a senha novamnete" required />
                    </div>
                    <div class="continue-button">
                        <button type="submit" formaction="Inserir" id="btnSalvar" name="btnSalvar">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>