@{
    Layout = null;
    var message = TempData["Message"]?.ToString();
}

<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/cadastro.css"/>
    </head>
    <body>
        <div class="container">
            <div class="form-image">
                <img src="~/Resources/manutencao.jpg"/>
            </div>
        <div class="form">
        <form method="post">
            <div class="form-header">
                <div class="titulo">
                    <h1>Cadastrar</h1>
                </div>
            </div>
            <div class="input-group">
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <br />
                        <b>@message</b>
                        <br />
                        <br />
                    }
                    <div class="input-box">
                        <label>Email</label>
                        <input type="text" id="txEmail" name="txtEmail" />
                    </div>
                    <div class="input-box">
                        <label>Nome</label>
                        <input type="text" name="txtNome" id="txtNome">
                    </div>
                    <div class="input-box">
                        <label>Senha</label>
                        <input type="text" id="txtSenha" name="txtSenha" />
                    </div>
                    <div class="continue-button">
                        <button type="submit" formaction="Inserir" id="btnCadastro" name="btnCadastro">Cadastrar</button>
                    </div>
            </div>
        </form>
        <br />
        <a asp-controller="Usuario" asp-action="Login">Login</a>
        </div>
    </div>
    </body>
</html>