@{

    Layout = null;
    var message = TempData["Message"]?.ToString();

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar Senha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/Produto/Index">Controle de Estoque</a>
            <div class="mobile-menu">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/Home/Privacy">Sobre</a></li>
                <li><a href="/Produto/Index">Produtos</a></li>
                <li><a href="/Usuario/ConfirmarSenha">Editar Usuário</a></li>
                <li><a href="/Usuario/Logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card">
            <h1>Confirme sua senha</h1>
            <form method="post">
                <div class="message">
                    @if (!String.IsNullOrEmpty(message))
                    {
                        <b>@message</b>
                    }
                </div>
                <div class="text-float">
                    <label>Digite a senha</label>
                    <input type="password" id="txtSenha" name="txtSenha" maxlength="50" title="Digite a senha" required autofocus />
                </div>
                <br />
                <div class="botao">
                    <button type="submit" formaction="ConfirmarSenha" id="btnConfirmar" name="btnConfirmar">Confirmar</button>
                </div>
                <br />
                <br />
                <br />
            </form>
        </div>
    </div>
</body>
</html>