@{

    Layout = null;
    var message = TempData["Message"]?.ToString();

}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
    @if(!String.IsNullOrEmpty(message))
    {
        <br />
        <b>@message</b>
        <br />
        <br />
    }
    <form method="post">
        <label>Email</label>
        <input type="text" id="txtEmail" name="txtEmail"/>
        <br />
        <label>Senha</label>
        <input type="text" id="txtSenha" name="txtSenha"/>
        <br />
        <button type="submit" formaction = "Logar" id="btnLogin" name="btnLogin">Logar</button>
    </form>
    </body>
</html>